td {
  border: 10px solid #272a1b;
  width: 50px;
  height: 50px
}
table {
  border-collapse: collapse;
}
.top td {
  border-top: none;
}
td:first-child {
  border-left: none;
}
td:last-child {
  border-right: none;
}
.bottom {
  border-bottom: none;
}
.yellow {
  background-color: #fff365;
  border-bottom: none;
}
.red {
  background-color: #ff5b2d;
}
.black {
  background-color: #4d5955;
}
.blue {
  background-color: #3d71b1;
}
